.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ExtendedGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    font-size: 1em;
}


.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
}

.ItemsMessage {
    width: 100%;
    text-align: center;
}

.totlaContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


@media (max-width:600px) {
    .buttonGrid {
        grid-template-columns: 1fr;
    }
    .textContainer {
        font-size: .6em;
    }
}
