.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3em;
    margin: 0 3em;
}

.ItemsMessage {
    width: 100%;
    text-align: center;
}

.totlaContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.clearButton {
    grid-column: 1 / 3;
}

@media (max-width:600px) {
    .buttonGrid {
        grid-template-columns: 1fr;
        column-gap: 1.5em;
        margin: 0 1em;
    }
    .textContainer {
        font-size: .7em;
    }
    .clearButton {
        grid-column: auto;
    }
    
}