.label {
    font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: -.03rem;
    font-weight: 800;
    margin-top: 1.5em;
}

.input {
    font-size: 3em;
    margin-top: .5em;
}

/* .input input {
    height: 3em;
    font-size: .4em;
    padding: .2em;
} */

.input input {
    padding: .2em;
    margin: .2em 0;
    font-size: .7em;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input input:focus {
    border: 3px solid #555;
}