.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.image {
    height: 10em;
}

.textContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .7em;
}

@media (max-width:600px) {
    .image {
        height: 7em;
    }
}