.label {
    font-family: Gotham Narrow SSm A,Gotham Narrow SSm B,Rubik,Lato,Lucida Grande,Lucida Sans Unicode,Tahoma,Sans-Serif;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: -.03rem;
    font-weight: 800;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

.box {
    display: flex;
    flex-direction: column;
}