.SignUpButton {
    font-family: Hack, monospace;
    background: #0F0F6D;
    color: #ffffff;
    cursor: pointer;
    font-size: 1em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
}

.SignUpButton::after {
    content: ">";
    font-weight: 400;
    position: absolute;
}  

.SignUpButton a {
    text-decoration: none;
    color: white;
}


@media (min-width:600px) {
    .SignUpButton::after {
        left: 93%;
        top: 31%;
        right: 5%;
        bottom: 0;
        opacity: 0;
    }  

    .SignUpButton:hover {
        background: #2b2bff;
        transition: all 0.5s;
        border-radius: 10px;
        box-shadow: 0px 6px 15px #0000ff61;
        padding: 1.5rem 3.5rem 1.5rem 1.5rem;
    }

    .SignUpButton:hover::after {
        opacity: 1;
        transition: all 0.5s;

    }
}



@media (max-width:1600px) {
    .SignUpButton {
        font-size: .7em;
    }
}

@media (max-width:600px) {
    .SignUpButton {
        font-size: .6em;
    }
    .SignUpButton::after {
        position: absolute;
        right: 5%;
        top: 50%;
        opacity: 100%;
        margin-top: -15px;
    }  
}